.layout-container {
  height: 100vh;
}

.page-content {
  min-height: calc(100vh - 120px);
}

mat-sidenav {
  width: auto;
  background-color: transparent !important;
  border: none !important;
  overflow: visible !important;
}

// Angular Material inner drawer wrapper
:host ::ng-deep .mat-drawer-inner-container {
  overflow: visible !important;
  border-radius: 0 0 20px 0;
  background: #fff;
}
