<mat-sidenav-container
  class="layout-container"
  [hasBackdrop]="true"
  (backdropClick)="store.closeSidebar()"
>
  <mat-sidenav
    #sidenav
    mode="over"
    position="start"
    [disableClose]="false"
    (closedStart)="onSidenavClosed()"
  >
    <app-sidebar-menu></app-sidebar-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
