
<div class="search-bar d-flex align-items-center search-wrapper position-relative"
  [ngClass]="{ 'search-wrapper-active': items().length != 0 }"
>

	<select class="form-select border-0 select-custom select-with-arrow" (change)="onFamiliaChange($event)">
		<option value="" selected>Todos los estudios</option>
		<option *ngFor="let fam of familias()" [value]="fam.idFamiliaWeb">
			{{ fam.familiaWeb }}
		</option>
	</select>

	<input type="text" class="form-control border-0 input-custom"
		placeholder="Encuentra el estudio que deseas realizar..." (input)="onSearch($any($event.target).value)"
		autocomplete="off" />

	<button class="btn search-btn d-flex align-items-center justify-content-center" type="button">
		<mat-icon>search</mat-icon>
	</button>

	@if (items().length > 0) {
		<div class="autocomplete-panel" (scroll)="onScroll($event)">
			@for (item of items(); track item.idRow; let last = $last) {
				<button type="button" class="autocomplete-item"
					[class.no-border]="last" (click)="selectItem(item)">
					{{ item.producto }}
				</button>
			}
		</div>
	}
</div>
