<!--
  Bloque clickeable completo. El padre puede escucharlo con:
  <app-select-location-tile (action)="abrirSelector()"></app-select-location-tile>
-->
<a class="tile d-flex align-items-center" (click)="abrirSelector()" role="button" aria-label="Selecciona tu sucursal">

	<div class="p-2">
		<mat-icon class="icon-left" aria-hidden="true">storefront</mat-icon>
	</div>

	<div class="text">
		@if (!selectedSucursal){
		Selecciona tu sucursal
		}

		@if(selectedSucursal) {
		{{ selectedSucursal.sucursal }}
		}
	</div>

	<!-- Chevron a la derecha -->
	<div class="p-2">
		<mat-icon class="icon-right" aria-hidden="true">expand_more</mat-icon>
	</div>
</a>
