.tile {
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 992px) {
    .tile {
        font-size: 14px;
    }
}
