.footer {
    background-color: #034EA2;
    font-size: 12px;
    color: #FFF;

    & li {
        list-style: none;
    }

    & a {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;

        &:hover {
            text-decoration: underline;
        }
    }

    & .redes {
       font-size: 16px;
    }
}

.footer-bar {
    background-color: #1FA060;
    color: #FFF;

    & a {
        color: #FFF;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
            text-decoration: underline;
        }
    }

    & small {
        font-size: 11px;
    }

    & .copyright {
        line-height: 1em;
    }
}

.container-footer {
    width: 80%;
    margin: 0 auto;
    padding: 8px 0;
}

@media (max-width: 767.98px) {
    .footer-logo {
        max-width: 84px !important;
    }
}