<!-- <div class="row">
  <app-assistant></app-assistant>
</div> -->

<footer class="container-fluid footer">
    <div class="container-footer">
        <div class="row align-items-center">
            <div class="col-6 col-md p-3 text-center text-md-start">
                <a routerLink="/preguntas-frecuentes">Preguntas frecuentes</a>
            </div>

            <div class="col-6 col-md p-3 text-center text-md-start">
                <a href="#">Nos interesa tu opinión</a>
            </div>

            <div class="col-6 col-md p-3 text-center text-md-start">
                <a routerLink="/empresas-del-grupo">Empresas del grupo</a>
            </div>

            <div class="col-6 col-md p-3 text-center text-md-start">
                <a href="tel:8009116666"><i class="fa fa-phone"></i> &nbsp;&nbsp;800 911 6666</a>
            </div>

            <div class="col-12 col-md p-3 text-center text-md-start">
                <a routerLink="/empresas-del-grupo">
                    <img class="img-fluid footer-logo" src="img/logo-gpupm.png" alt="grupo por un pais mejor"
                        style="max-width: 150px" />
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="container-fluid footer-bar">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center p-3">
            <div class="col-12 col-md text-center">
                <small>
                    <a routerLink="/aviso-de-privacidad">Aviso de Privacidad </a> &nbsp;&nbsp;|
                    &nbsp;&nbsp;
                    <a routerLink="/aviso-legal"> Aviso legal</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a routerLink="/terminos-y-condiciones"> Términos y condiciones</a>
                </small>
            </div>

            <div class="col-12 col-md text-center mt-2 mt-md-0">
                <small>D.R.© Copyright . Sistemas de Salud del Dr. Simi S.A. de C.V.</small>
            </div>
        </div>
    </div>
</div>